* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: var(--rps-font);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100vw;
    height: 100vh;

    background-color: var(--rps-black);
    color: var(--rps-white);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 2rem;
}

.menu-container, .game-container, .round-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.moves-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.button {
    cursor: pointer;
    
    border: 0.15rem solid var(--rps-white);
    border-radius: 4px;
    padding: 0.5rem 2rem;
}

.button:hover:not(.move-button), .button:active:not(.move-button) {
    transform: scale(1.1);
    
    background-color: var(--rps-white);
    color: var(--rps-black);
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
}

.move-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 128px;
    height: 128px;
}

.move-button:hover, .move-button:active {
    transform: scale(1.25);
}

.rock-button:hover {
    color: var(--rps-yellow);
    border-color: var(--rps-yellow);
}

.paper-button:hover {
    color: var(--rps-blue);
    border-color: var(--rps-blue);
}

.scissors-button:hover {
    color: var(--rps-red);
    border-color: var(--rps-red);
}

.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.rounds-review-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.round-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.round-container h2 {
    font-size: 1.25rem;
}

.round-container h3 {
    font-size: 1rem;
    font-weight: lighter;
}

.total-score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
}

.total-score-container h3 {
    font-size: 1.25rem;
    text-decoration: underline;
}

.hidden {
    display: none;
}